In [1]:
# Dependencies

import pandas as pd
import geopandas as gpd

from geopandas import GeoDataFrame
from shapely.geometry import Point
import fiona

In [4]:


# Load file and set first row as index
df = pd.read_csv('data\pd_test.csv')

# ##Set first row as column headers
# df.columns = df.iloc[0]

# ## Drop first row and save 
# df = df.drop(index=0)

# # Drop rows with NaN in the 'FOP' Column

# df = df.dropna(subset=['FOP'])
df

# clean_df = df
# clean_df.head()



# Change all columns to string

# clean_df = clean_df.astype('string')

# clean_df.dtypes

,Unnamed: 0,School,FOP_GE_area,FOP_perim,Foul_GE_area,Foul_perim,FOP_ratio,Foul-ratio,Foul_pct_of_whole,Level,Div,YE_2022_rank,Conf,Conf_level,Region Host?,Region_div,ICON,size_factor
0,NaN,Michigan State (Old College Field),104676.0,1241.0,32969.0,1462.0,84.3,22.6,24.0%,college,D1,NaN,NaN,NaN,NaN,NaN,MSU,4.0
1,NaN,U of M,100626.0,1226.0,19378.0,1413.0,82.1,13.7,16.1%,college,D1,NaN,NaN,NaN,NaN,NaN,UofM,4.0
2,NaN,EMU,109308.0,1276.0,17003.0,1482.0,85.7,11.5,13.5%,college,D1,NaN,NaN,NaN,yes,2.0,EMU,4.0
3,NaN,CMU,107972.0,1261.0,22796.0,1457.0,85.6,15.6,17.4%,college,D1,NaN,NaN,NaN,NaN,NaN,CMU,4.0
4,NaN,WMU,104605.0,1235.0,29748.0,1429.0,84.7,20.8,22.1%,college,D1,NaN,NaN,NaN,NaN,NaN,WMU,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# read CSV from manual area table
df = pd.read_csv('data\pd_test.csv')


# Explore data
df.info



# Average area of pro fields



# average area of college fields

coll_fields = df[df['Level'] == 'college']

coll_fields



# average area of high school fields

hs_fields = df[df['Level'] == 'high school']



print(hs_fields)

                         School  FOP_GE_area  FOP_perim  Foul_GE_area  \
19        Charlotte High School        83315     1153.0         35599
20                    Dewitt HS        84637     1145.0         20395
21                   Eastern HS        86703     1155.0         38243
22               Eaton Rapids 1       101271     1213.0         37140
23                   Everett HS        93239     1200.0         36794
..                          ...          ...        ...           ...
162          Marion High School        84255     1125.0         28816
163        Marlette High School        86791     1155.0         22578
164   Lorenson Field - Ironwood        96724     1217.0         22934
165         Bay City All Saints        86860     1155.0         25708
219  Richmond Baseball Facility        88154     1193.0         34045

     Foul_perim        Level  Div  YE_2022_rank  Conf Conf_level Region Host?  \
19         1438  high school    2           NaN  CAAC      white          NaN
20         1332  high school    1           NaN  CAAC       blue          NaN
21         1445  high school    2           NaN  CAAC        red          NaN
22         1417  high school    2          10.0  CAAC      white          yes
23         1598  high school    1           NaN  CAAC       blue          NaN
..          ...          ...  ...           ...   ...        ...          ...
162        1368  high school    4          18.0   NaN        NaN          NaN
163        1333  high school    4          19.0   NaN        NaN          NaN
164        1425  high school  NaN           NaN   NaN        NaN          yes
165        1416  high school    4          20.0   NaN        NaN          NaN
219        1497  high school  NaN           NaN   NaN        NaN          yes

     Region_div         ICON  size_factor
19          NaN  high school          1.0
20          NaN  high school          1.0
21          NaN  high school          1.0
22          2.0  high school          1.0
23          NaN  high school          1.0
..          ...          ...          ...
162         NaN  high school          1.0
163         NaN  high school          1.0
164         4.0  high school          1.0
165         NaN  high school          1.0
219         2.0            ?          NaN

[148 rows x 14 columns]

In [42]:
### Slicing by level and getting summary stats
pro_fields = df[df['Level'] == 'pro']
coll_fields = df[df['Level'] == 'college']
hs_fields = df[df['Level'] == 'high school']
youth_fields = df[df['Level'] == 'youth']

des_pro = pro_fields.describe()
des_col = coll_fields.describe()
des_hs = hs_fields.describe()
des_youth = youth_fields.describe()



des_pro

,FOP_GE_area,FOP_perim,Foul_GE_area,Foul_perim,YE_2022_rank,Region_div,size_factor
count,10.000000,10.000000,10.000000,10.000000,0.0,2.0,10.000000
mean,106180.800000,1264.400000,28072.400000,1427.600000,NaN,4.0,6.200000
std,6605.738142,38.265738,5205.439552,50.480359,NaN,0.0,3.259175
min,95143.000000,1206.000000,17705.000000,1331.000000,NaN,4.0,3.000000
25%,102736.000000,1240.250000,25541.250000,1407.000000,NaN,4.0,3.000000
50%,105118.000000,1261.000000,28838.000000,1447.500000,NaN,4.0,6.000000
75%,110974.000000,1270.750000,31512.750000,1451.500000,NaN,4.0,9.500000
max,116624.000000,1335.000000,35261.000000,1500.000000,NaN,4.0,10.000000

In [10]:
# Output cleaned df as csv
clean_df.to_csv('data/clean.csv')

df = pd.read_csv('data/clean.csv')
df.dtypes

Unnamed: 0     int64
School        object
FOP           object
Foul          object
dtype: object

In [2]:



### Use Shapely to work with wrt values (the format of the current string POLYGONS)

#You need to convert your pandas DataFrame to a geopandas GeoDataFrame to access the geometry column as shapely object. This post describes how to achieve it.

#one solution:
#https://gis.stackexchange.com/questions/404299/how-to-convert-string-type-to-shapely-object

from shapely import wkt
df = pd.read_csv('data/clean.csv')
fair_df = pd.DataFrame(df, columns=['School','FOP'])
foul_df = pd.DataFrame(df, columns=['School','Foul'])
# foul_df

### Loading the strings as geo objects
fair_df['FOP'] = fair_df['FOP'].apply(wkt.loads)
foul_df['Foul'] = foul_df['Foul'].apply(wkt.loads)

## Put existing dataframes into geodataframes


fair_gdf = gpd.GeoDataFrame(fair_df, columns=['School','FOP'], geometry=fair_df['FOP'], crs='epsg:4326')
foul_gdf = gpd.GeoDataFrame(foul_df, columns=['School','Foul'], geometry=foul_df['Foul'], crs='epsg:4326')

fair_gdf.head()
foul_gdf.head()

# # Create a seperate geodataframe and set the geometry to the Foul column
# gdf_foul = gpd.GeoDataFrame(df, columns=['School','Foul','Foul2'], geometry=df['Foul'], crs='epsg:4326')



#### DOESNT WORK WHEN TRYING TO LOAD THE FINAL COLUMN< NOT SURE WHY
#### THERE ARE A NUMBER OF EMPTY FIELDS 
#df['Foul2'] = df['Foul2'].apply(wkt.loads)

,School,Foul,geometry
0,Charlotte High School,"POLYGON ((-84.8551165 42.5604691, -84.8539296 ...","POLYGON ((-84.85512 42.56047, -84.85393 42.560..."
1,Dewitt HS,"POLYGON ((-84.5810277 42.8262729, -84.5821569 ...","POLYGON ((-84.58103 42.82627, -84.58216 42.826..."
2,Eastern HS,"POLYGON ((-84.5355748 42.7372929, -84.5363943 ...","POLYGON ((-84.53557 42.73729, -84.53639 42.737..."
3,Eaton Rapids 1,"POLYGON ((-84.635145 42.5118192, -84.6360033 4...","POLYGON ((-84.63514 42.51182, -84.63600 42.512..."
4,Eaton Rapids 2,"POLYGON ((-84.6350135 42.5110331, -84.6342571 ...","POLYGON ((-84.63501 42.51103, -84.63426 42.510..."

In [4]:
foul_gdf.head()

,School,Foul,geometry
0,Charlotte High School,"POLYGON ((-84.8551165 42.5604691, -84.8539296 ...","POLYGON ((-84.85512 42.56047, -84.85393 42.560..."
1,Dewitt HS,"POLYGON ((-84.5810277 42.8262729, -84.5821569 ...","POLYGON ((-84.58103 42.82627, -84.58216 42.826..."
2,Eastern HS,"POLYGON ((-84.5355748 42.7372929, -84.5363943 ...","POLYGON ((-84.53557 42.73729, -84.53639 42.737..."
3,Eaton Rapids 1,"POLYGON ((-84.635145 42.5118192, -84.6360033 4...","POLYGON ((-84.63514 42.51182, -84.63600 42.512..."
4,Eaton Rapids 2,"POLYGON ((-84.6350135 42.5110331, -84.6342571 ...","POLYGON ((-84.63501 42.51103, -84.63426 42.510..."

In [5]:
# Calculate Fair area in square feet and export just that value to a new dataframe
# Works
fair_gdf['FOP_area'] = fair_gdf['geometry'].to_crs({'init': 'epsg:4326'})\
               .map(lambda p: p.area)

area_df = pd.DataFrame(fair_gdf, columns=['School','FOP_area'])
area_df.head()
#gdf.head()

c:\Users\Smitty\anaconda3\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

                  School      FOP_area
0  Charlotte High School  8.498999e-07
1              Dewitt HS  8.671026e-07
2             Eastern HS  8.870002e-07
3         Eaton Rapids 1  1.032290e-06
4         Eaton Rapids 2  8.684990e-07

In [6]:
# Calculate Foul area in square feet and export just that value to a new dataframe
#started with epsg:3395

foul_gdf['Foul_area'] = foul_gdf['geometry'].to_crs({'init': 'epsg:4326'})\
              .map(lambda p: p.area)

area_foul_df = pd.DataFrame(foul_gdf, columns =['School','Foul_area'])
area_foul_df.head()

c:\Users\Smitty\anaconda3\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

                  School     Foul_area
0  Charlotte High School  3.631508e-07
1              Dewitt HS  2.089466e-07
2             Eastern HS  3.912354e-07
3         Eaton Rapids 1  3.785751e-07
4         Eaton Rapids 2  3.468754e-07

In [7]:
# Join the two Simple Dataframes

area_df = area_df.merge(area_foul_df, on='School')

area_df.head()
### Tuesday Night -

#############################################################

area_df.to_csv('data/area_output_NEW.csv')

In [8]:
area_df

# ### Output a csv

#area_df.to_csv('data/area_output.csv')

                                School      FOP_area     Foul_area
0                Charlotte High School  8.498999e-07  3.631508e-07
1                            Dewitt HS  8.671026e-07  2.089466e-07
2                           Eastern HS  8.870002e-07  3.912354e-07
3                       Eaton Rapids 1  1.032290e-06  3.785751e-07
4                       Eaton Rapids 2  8.684990e-07  3.468754e-07
5                           Everett HS  9.531379e-07  3.761244e-07
6                            Holt HS 1  9.722549e-07  3.904120e-07
7                            Holt HS 2  9.992710e-07  4.049917e-07
8                  Lansing Catholic HS  9.020181e-07  1.884083e-07
9                          St Johns HS  9.853695e-07  3.801694e-07
10                         Waverly HS   9.055759e-07  3.166144e-07
11                      Willianston HS  9.218553e-07  3.223124e-07
12                           Sexton HS  9.772072e-07  2.569350e-07
13                          Haslett HS  8.819904e-07  3.066406e-07
14                     East Lansing HS  9.151018e-07  2.864821e-07
15                             Bath HS  1.046054e-06  1.761218e-07
16                            Mason HS  9.833148e-07  2.532164e-07
17                      Grand Ledge HS  8.101868e-07  2.943889e-07
18                           Muni Park  9.286262e-07  2.599495e-07
19                           Okemos HS  8.997530e-07  2.822993e-07
20  Michigan State (Old College Field)  1.070776e-06  3.372546e-07
21                           Olds Park  1.063965e-06  2.315927e-07
22                         Portland HS  9.060450e-07  4.060632e-07
23                            Ionia HS  9.061295e-07  3.142131e-07
24                      Fowlerville HS  9.665072e-07  2.021201e-07
25                    Portland St Pats  9.060450e-07  4.060632e-07
26                       Comerica Park  1.152596e-06  2.855569e-07
27             Ionia HS Practice Field  8.380620e-07  3.009537e-07
28             Orchard Lake St. Maryâ€™s  8.958518e-07  2.789330e-07
29                          Northville  9.740684e-07  2.922780e-07
30                Muskegon Mona Shores  9.338419e-07  3.374309e-07
31                         Grand Blanc  9.540868e-07  2.715148e-07
32           Grand Rapids Kenowa Hills  9.570448e-07  3.872689e-07
33                     Rochester Adams  9.521928e-07  2.997825e-07
34                          Lake Orion  9.210967e-07  3.365014e-07
35                Brownstown Woodhaven  8.636854e-07  3.579092e-07
36                              Howell  9.471739e-07  2.151019e-07
37                     Detroit Western  1.095536e-06  2.919568e-07

In [ ]:
########## PLAY AROUND WITH MATPLOT LIB



%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import numpy as np


#### Bar PLOT
# plot
y = area_df['FOP_area']
x = np.random.uniform(2, 7, len(x))
fig, ax = plt.subplots()

ax.bar(x, y, width=1, edgecolor="white", linewidth=0.7)

ax.set(xlim=(0, 8), xticks=np.arange(1, 8),
       ylim=(0, 2000), yticks=np.arange(1, 8))

plt.show()

# fig = plt.figure()
# ax = plt.axes()


# x = area_df['FOP_area']
# #y = area_df['Foul_area']

# ax.plot(x);

In [ ]:


# Calculate a geodesic area, which is very accurate and only requires an ellipsoid (not a projection). This can be done with pyproj 2.3.0 or later.

# from pyproj import Geod
# from shapely import wkt

# # specify a named ellipsoid
# geod = Geod(ellps="WGS84")

# poly = wkt.loads('''\
# POLYGON ((-116.904 43.371, -116.823 43.389, -116.895 43.407,
# -116.908 43.375, -116.904 43.371))''')

# area = abs(geod.geometry_area_perimeter(poly)[0])

# print('# Geodesic area: {:.3f} m^2'.format(area))

# # # Geodesic area: 13205034.647 m^2

# abs() is used to return only positive areas. A negative area may be returned depending on the winding direction of the polygon.

In [ ]:
######## Works to calculate the geometry column now just have to figure out how to repeat calculation over enitre DF & put into new column

# Calculate a geodesic area, which is very accurate and only requires an ellipsoid (not a projection). This can be done with pyproj 2.3.0 or later.


from pyproj import Geod
from shapely import wkt

# specify a named ellipsoid
geod = Geod(ellps="WGS84")

poly = wkt.loads(str(gdf.iat[0,5]))

# ### TRY
poly = wkt.loads(str(gdf.iloc[0:5,5]))

area = abs(geod.geometry_area_perimeter(poly)[0])

##### KILLS KERNAL
#gdf['FOP_area'] = abs(geod.geometry_area_perimeter(gdf['geometry']))
                      
print('# Geodesic area: {:.3f} m^2'.format(area))

gdf.head()

In [ ]:




### Try this a hopefully simple way. Using a library called area

## https://stackoverflow.com/questions/4681737/how-to-calculate-the-area-of-a-polygon-on-the-earths-surface-using-python

from area import area

In [ ]:
# from shapely import wkt

# df['FOP'] = gpd.GeoSeries.from_wkt(df['FOP'])
# df['Foul'] = gpd.GeoSeries.from_wkt(df['Foul'])
# df['Foul2'] = gpd.GeoSeries.from_wkt(df['Foul2'])
# crs_df = df


# geo_frame = gpd.GeoDataFrame(crs_df, geometry='FOP')
# tost = geo_frame.set_crs(crs='epsg:6933')

# print(tost.crs)
# #geo_frame.head

In [ ]:
# Create a column for area calculation of each ploygon



#tost= tost.to_crs({'init': 'epsg:3857'})
print(tost.crs)
tost.head(2)

# test['FOP_area'] = test['FOP'].area/ 10**6
# test.head()

In [ ]:
# tost['FOP_area'] = tost['FOP'].area/10**6
# tost.head()